@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Graytown University</h1>
    <img src="~/images/university-campus.jpg" alt="Graytown University Campus" class="img-fluid" />

</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Graytown University</h2>
        <p>
            Graytown University is dedicated to providing a mediocre educational experience. Browse our narrow range of programs, and please enjoy dreaming of going somewhere better, but don't dream for too long!
        </p>
    </div>
</div>
